
div {
  width: 1cm !important;
  height: 1cm !important;
  margin-bottom: 0cm !important;
  margin-left: 0cm !important;
  margin-right: 3cm;
}
.printbutton {
  margin-left: 7.5cm;
  margin-top: 7cm;
  background-color: rgb(1, 142, 177);
  border-radius: 10px;
  border: rgb(247, 130, 130);
  width: 60PX;
  height: 40PX;

}

.printbutton:hover {
  margin-left: 7.5cm;
  margin-top: 7cm;
  background-color: rgb(1, 142, 177);
  border-radius: 10px;
  border: rgb(247, 130, 130);
  width: 60PX;
  height: 40PX;

}
  .content-box {
    box-sizing: content-box;
   
  }
  
  .border-box {
    box-sizing: border-box;
   
  }

  /*fuentes texto*/
.textStile1{
  font-family:'Helvetica';
   font-size: 13px;
}
.textStile2_pie{
  font-family:'Helvetica';
 font-size: 9px;
}
.text_pieza{
  font-family:'Helvetica';
 font-size: 8px;
}


  /*fuentes texto*/

  /* Cuando el dispositivo de salida sea una impresora */
@media print {

  /* Se aplicará la siguiente regla CSS */
  button,
  [type="button"],
  [type="submit"],
  [type="reset"] {
    display: none;
  }

}
@page 
    {
        size:  auto;   /* auto es el valor inicial */
        margin: 0mm;  /* afecta el margen en la configuración de impresión */
        
    }
   
    @media print and (orientation: portrait) {
      div{
        margin-top: .8cm;
        margin-left: .3;
        transform: scale(0.9);
      }
     
    }
   
    
    @media print and (orientation: landscape) { 
   
      
      div {
      transform: rotate(270deg);
      margin-top:63%;
  margin-left: .5cm;
      }
      /*
      padding-bottom: .3cm;
      padding-right: .5cm;
      transform: rotate(270deg);
      margin-left: .5cm;
      margin-top: .5cm;
      width: 7.62cm;
      height: 9.4cm;
      padding-left: 0cm;
      padding-right: 0cm;
      padding-top: 0cm;
      padding-bottom: 0cm;
      border-radius: .2cm;
      background: rgb(255, 253, 253);
       Reglas para imprimir en formato apaisado */
    }

   
    
    
    